.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.form-container{
    background: #ededed;
    border-radius: 8px;
    width: 100%;
    color: black;
    padding: 20px;
    margin-top: 20px;
}
.form-container label{
        font-size: 15px;
        color: #636262;
    }
.step_wrap .form-container input{
    /*margin-bottom: 20px;*/
    border-radius: 5px;
    padding: 6px 14px;
}
.step_four .form-container input{
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 11px;
}
.social_section .form-container input{
    padding: 10px 15px;
}
.strain_css div{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.strain_css label{
  margin-left: 10px;
}
.btype{
    width: 100%;
    border-radius: 5px;
}
.multiCss{
    background-color: pink;
}
.step_wrap{
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.multi_form{
    margin: auto;
    width: 72%;
    padding-bottom: 60px;
}
.navigation div ol{
    text-align: center;
}

.navigation div ol li{
    display: inline-block;
    text-align: center;
    line-height: 4.8rem;
    padding: 0 3.9rem;
    cursor: pointer;
    color: black;
    border-bottom: 4px solid #33C3F0;
}
.multi_form  button{
    background: rgb(51, 195, 240);
    padding: 8px 27px;
    border: none;
    border-radius: 4px;
    margin: 20px;
    color: #fff;
}
.navigation button{
  display: none;
}
.multi_form  button:focus{
    border: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 32px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

 input:checked + .slider {
  background-color: #2196F3;
}

 input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

 input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.profile_wrap{
  background: #ededed;
  display: flex;
  padding: 20px;
  border-radius: 9px;
}
 .profile_wrap p{
    font-size: 16px;
  }
.profile_img{
    width: auto;
    margin: 12px;
    border: 1px solid ghostwhite;
    border-radius: 9px;
    background: ghostwhite;
    height: fit-content;
}
.step_three-hours input[type=time] {
  width: 50%;
  background: transparent;
  border: none;
  font-size: 21px;
  margin-left: 70px;
}
.profile_img .fa{
    font-size: 20px;
    margin: 34px;
    /*margin-left: 38px;*/
}
.step_wrap .name_css{
    width: 200px;
  }

.text-red{
  font-size: 12px;
  color: red;
}
.error-input{
  width: 100%;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    padding: 9px 30px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.map_style{
  height: 400px;
  width: 100%;
}
.trybtn {
  display: flex;
  justify-content: space-between;
}
.trybtn button{
  color: #fff;
}
@media screen and (max-width: 650px){

  .hideCol{
    display: none;
  }
  .multi_form{
    width: 90%;
    padding-top: 50px;
  }
  .multi_form div ol li {
    padding: 0 0.4rem;
  }
  .step_three-hours input[type=time]{
    margin-left: 0px;
  }
  .step_wrap .name_css{
    width: 69px;
  }
  .slider:before {
    height: 20px;
    width: 20px;
    }
  .switch {
      width: 56px;
      height: 28px;
  }
  .navigation{
    margin-top: 50px;
  }
  .step_five .package_overview{
    background-image: none!important;
    background: #f8f9fb;
  }
}


.joinPage_form input[type=checkbox]{
  margin-right: 5px;
}
.joinPage_form .two_thirds {
  width: 90%;
}