body{margin: 0; padding: 0; font-family: 'Roboto';}
.header{padding: 15px 0;}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
.heading1{  font-size:48px; font-weight: 900; } 

.heading1{}

/* .video-container {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
*/

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
} 

ul.topsrch {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

li {}

ul.topsrch li {
  display: inline-block;
  margin: 3px 7px 0;
}

ul.topsrch li {}

ul.topsrch li input {  
  background: #eaeaea;
  border-radius: 0;
  border-color: #eaeaea;
}

.tobtn-green {}

ul.topsrch li .input-group {}

ul.topsrch li .input-group .tobtn-green {
  background: #00cc66;
  font-weight: 600;
  border-radius: 0 20px 20px 0;
  outline: none;
  padding: 5px 30px;
}

ul.toplinks {
  margin: 0;
  padding: 0; text-align:right;
}

ul.toplinks li {margin-top:3px ;
  display: inline-block; margin-right:15px;
}

ul.toplinks li a {
  color: #00cc66; font-weight:700;
}

ul.toplinks li a img {
  margin-right: 15px;
}  .tobtn-green {
  background: #00cc66;
  font-size:16px;
  font-weight: 600; color:#fff;
  border-radius:20px;
  outline: none;
  padding: 5px 30px;
}
.btn-green {
  background:#c3f53c;
  font-size:16px;
  font-weight: 600; color:#fff;
  border-radius:20px;
  outline: none;
  padding: 5px 30px;
}

.bnr-search {
  width: 40%;
  margin: 0 auto;
}

.bnr-search input {
  height:50px;
  outline: none;
  border-radius: 29px;
}

.bnr-search .input-group>.input-group-prepend>.btn {
  border-radius: 0 25px 25px 0;
  font-size: 20px;
  color: #000;
  min-height: 50px;
  background: #c3f53c;
  outline: none;
}
.bnrscearch {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 24%;
}

.banner-video {
  position: relative;
  height: 580px;
  overflow: hidden;
}

.bnrscearch p {
  font-size: 19px;
  color: #fff;
  margin-bottom: 25px;
}

.bnrscearch h1.heading1 {
  color: #fff;
  margin-bottom: 25px;
}

.ct-hld {
  display: flex;
  background: #f8fee7;
  margin: 15px 0;
  border-radius: 0 3px 3px 0;
}
.ct-hld p {
  font-size: 17px;
  padding: 18px 15px 0px 15px;
}

.ct-hld img {
  border-radius: 3px 0 0 3px;
}
.crear-login {
  margin-left: 50px;
}

.crear-login ul {
  margin: 0;
  padding: 0;
}

.crear-login ul li {
  display: inline-block;
  margin: 32px 0;
  margin-right: 15px;
}

.crear-login .creat-btn {
  font-size: 21px;
  width: 75%;
  padding: 6px 6px 9px;
  border-radius: 50px;
}


.black-bg {
  background: #333333;
  padding: 60px 0;
  margin: 58px 0;
}

.black-bg h1.heading1 {
  text-align: center;
  color: #fff;
  margin-bottom: 46px;
}

.black-bg .thumbnail {
  background: #fff;
}

.black-bg .thumbnail .caption {
  padding: 15px 15px 0 15px;
}

.black-bg .thumbnail .caption p {
  margin: 10px 0 10px 0;
  font-size: 15px;
}

.black-bg .thumbnail .caption .btn-green {
  width: 108%;
  padding: 12px 15px;
  display: block;
  margin: 0 -15px; font-size: 16px;
  border-radius: 0;
}
footer.footer {background: #c3f53c;padding: 60px 0 0;}

h1.heading2 {
  font-size: 20px;
  font-weight: 600;
}

li.footer-socil {}

ul.footer-socil {
  margin: 0;
  padding: 0;
}

ul.footer-socil li {
  display: inline-block;
  margin-top: 5px;
  margin-right: 30px;
}

ul.footelink {
  margin: 15px 0;
  padding: 0;
}

ul.footelink li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin-right: 25px;
}

ul.footelink li a {
  color: #000;
}

footer.footer .text-center {
  text-align: center;
  font-size: 14px;
  margin: 0 0 8px 0;
}
p{font-size: 18px;color:#636466;}
p.discover{font-size: 22px; font-weight: 300; color:#636466;}

.owl-theme .owl-nav button {
  position: absolute;
  top: 50%;
}

.owl-theme .owl-nav button.owl-prev {
  left: -47px;
}

.owl-theme .owl-nav button.owl-next {
  right: -47px;
}


.main_cta_slide {
  background: #1fc36a;
  color: #fff;
  padding: 30px;
  text-align: center;
}

.main_cta_slide .heading {
  font-size: 2em;
  text-transform: capitalize;
}

.suggested-container {
  padding: 30px 0;
}

.suggested-text-home-page p {
  text-align: center;
  font-size: 2em;
  color: #1fc36a;
}

.suggested-iteams-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

.suggested-iteams a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suggested-iteams label {
  margin-top: 10px;
  color: #636466b8;
  font-weight: 500;
}

.product-iteams-container {
  display: flex;
  justify-content: space-between;
}

.product-container {
  padding: 40px 0;
  padding-bottom: 0;
}

.product-iteams {
  width: 23%;
  border: 1px solid #ddd;
  text-align: center;
}

.product-image-conatiner, .product-image-conatiner img {
  width: 100%;
  z-index: 0;
}

.product-iteams a {
  text-decoration: none;
  color: #000;
}

.product-iteams a:hover, .product-iteams a:focus{
  text-decoration: none;
}

.row.get-app {
  margin-bottom: 50px;
}

.image-product-parent-container {
    position: relative;
    margin-bottom: 50px;
}

.product-forground-img {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    z-index: 1;
    position: absolute;
    border: 2px solid #c7c1c1;
    top: 40px;
    left: 0;
    right: 0;
    background: #fff;
}

.product-forground-img img {
    width: 100%;
}

ul.topsrch li .input-group , 
.bnr-search .input-group {
    display: flex;
}


.show-under-767{
  display: none;
}
.footer-new, ul.footer-socil2{display:none;}
.suggested-container {display:block;}
@media screen and (max-width:767px) {

header.header {}

img {}

header.header .col-md-3 {
  text-align: center;
}

header.header .col-md-6 {}

header.header .col-md-6 ul.topsrch {}

ul.topsrch li {
  width: 100%;
  margin: 5px 0;
}
.heading1 {
  font-size: 26px;
}
ul.toplinks {
  text-align: center;
  margin: 15px 0 0;
}

.bnrscearch h1.heading1 {font-size: 24px;color: #000;margin-bottom: 15px;}

.bnr-search {
  width: 83%;
}

.bnr-search input {
  height: 33px;
}

button.btn.tobtn-green {
  background: #0c6;
  display: block;
  padding: 2px 15px;
  height: 30px;
  z-index: 9;
  margin-top: 11px;}

.bnr-search .input-group>.input-group-prepend>.btn {
  font-size: 14px;
}

.bnrscearch {
  background: #0c6;
  padding: 15px 0;
  position: inherit;
  display: none;
}

.video-container video {
  height: 760px;
}

.video-container video {
  height: auto;
  margin-bottom: -7px;
}

.bnrscearch p {
  margin-bottom: 15px;
}

.banner-video {
  height: auto;
}

.ct-hld {}

.ct-hld p {
  font-size: 15px;
}

.crear-login {
  margin: 25px 0 0 0;
  text-align: center;
}

.crear-login ul li {
  margin: 15px;
}

.black-bg {
  margin: 40px 0;
}
.black-bg h1.heading1{font-size: 25px;}
.owl-theme .owl-nav button.owl-next {
  right: -15px;
}

.owl-theme .owl-nav button.owl-prev {
  left: -15px;
}

p.discover {
  text-align: center;
}
.black-bg .thumbnail .caption {
  padding: 0;
  text-align: center;
}
.black-bg .thumbnail .caption h4 {
  font-size: 16px;
  padding: 0 15px;
}
footer.footer{padding:15px 0}
ul.footelink li {
  margin: 0 5px;
  font-size: 13px;
  text-align: center;
  display: none;
}

ul.footer-socil li {
  text-align: center;
  margin: 0 12px;
}

footer.footer h1.heading2 {
  text-align: center;
}

footer.footer p.text-center {
  text-align: center;
  font-size: 15px;
  margin: 0 0 6px 0;
}

ul.footelink { 
  margin: 5px 0 5px;
  display: block;
  text-align: center;
}
.get-app .apimg {
  width: 100%;
}
.get-app h1.heading1 {
  text-align: center;
}
.get-app {}

.get-app .apimg {
  width: 100%;
}

.get-app h1.heading1 {
  text-align: center;
}

.get-app a {
  margin: 0 1px 15px;
}

.get-app a img {
  width: 93px;
  margin: 0;
}

.suggested-iteams-container {
  flex-wrap: wrap;
  padding-top: 20px;
}

.suggested-iteams {
  width: 30%;
  margin-bottom: 20px;
}

.product-iteams {
  width: 100%;
  margin-bottom: 30px;
}

.product-iteams-container {
  flex-wrap: wrap;
}

ul.footer-socil {
  margin:0 0 42px 0;
  padding: 0; 
  text-align: center;
}

.row {
  position: relative;
}

.col-md-6.search-bar-for-mobile {
  position: absolute;
  top:151px;
  z-index: 22;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px 30px;
  background: #ffffff85;
  margin: 0 20px;
}

input#exampleFormControlInput1, input.form-control.cutom-input {
  background: #fff;
  padding: 20px 10px;
}



input.form-control.cutom-input {
  background: #fff;
}

ul.topsrch li .input-group .tobtn-green {
  margin-top: 10px;
  width: 100%;
  border-radius: 0;
  padding: 10px 0;
}
.video-container video {
  height: calc(100vh - 115px);
  width: auto;
  margin-top:49px;
}
ul.topsrch li .input-group.custom-flex-header-sec {
  display: block;
}

.suggested-iteams {
    width: 15%;
}

.suggested-iteams label {
    font-size: .7em;
}

.hide-under-767{
  display: none;
}


.show-under-767{
  display: block;
  position: relative;
  z-index: 999;
  
  
  position: fixed;
  z-index: 999;
  background: #fff;
  top: 0;
  width: 100%;  padding-top: 7px;
}

.parent-container-for-nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px; 
    padding-bottom: 10px;
}

button.navbar-toggler_custom {
  display: block;
  background: #e6e3e300;
  border: none;
  outline: none;
}
.bars {
  display: inline-block;
  position: relative;
  z-index: 2;
}
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: #00cc66;
  margin: 6px 0;
  border-radius: 3px;
  transition: 0.4s;
}

.bar2 {
  width: 20px;
}
.custom-show-container {
    position: fixed;
    /*height: 50vh;*/
    background: #fff;
    width: 100%;
    top: 0;
}

.custom-head-nav {
    z-index: 999;
}

.custom-show-container ul {
  margin-top:57px;
  list-style: none;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
  text-align: center;
  background: #0c6;
}

.custom-show-container ul li a {
    font-size: 1.5em;
  color: #fff;
  padding: 4px;
  display: block;
}

.login-and-section {background: #00cc66;display: none;padding: 10px 0;justify-content: center;list-style: none;}

.login-and-section li {
    padding: 0 10px;
    align-items: center;
    align-self: center;
    color: #fff;
    font-size: 15px;
}

.login-and-section li:last-child button {
    background: #047b40;
    font-size: 16px;
}

.header {
   padding-bottom: 0; 
}
  
 .footer-new {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  position: fixed;
  bottom: 0;
  background: #c3f53c;
  width: 100%;
  z-index: 1;
}
.footer-new ul{width:100%;}
  .footer-new ul li{display: inline-block;}
  ul.footer-socil2 {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

ul.footer-socil2 li {
  background-color: #4267B2;
  width: 100%;
  text-align: center;
  padding: 5px;
  }
  ul.footer-socil2 li i{color:#fff;font-size: 30px;}
ul.footer-socil2 li:nth-child(2) {
  background-color: #55acee;}
ul.footer-socil2 li:nth-child(3) {
  background-color: #0077B5;}
ul.footer-socil2 li:nth-child(4) {
  background-color: #CC2329;}
ul.footer-socil2 li:nth-child(5) {
  background-color: #FF5700;}
ul.footer-socil2 li:nth-child(6) {
  background-color: #ff8226;}
ul.footer-socil2 li:nth-child(7) {
  background-color: #55EB4C;}
ul.footer-socil2 li:nth-child(8) {
  background-color: #007da1;}
ul.footer-socil2 li:nth-child(9) {
  background-color: #EE8E2D;}
  
  .suggested-container {display:none;}
  .footer-new .suggested-iteams-container {
  padding: 0;
  display: block;
  flex-wrap: nowrap;
}

.footer-new .suggested-text-home-page p {
  margin: 5px 0 7px;
  font-size: 23px;
  color: #006600;
}

.footer-new .suggested-iteams-container .suggested-iteams img {
  width: 39px;
  filter: brightness(.8);
}

.footer-new .suggested-iteams-container .suggested-iteams {
  display: inline-block;
  padding: 0 5px;
  width: auto;
  margin: 0  0 4px 0;
}

.footer-new .suggested-iteams-container .suggested-iteams a label {
  color: #006600;
}
}

.error {
  color: red;
}

.myform form > .form-group{
  width: 80%;
  margin: 20px auto;
}

.myform form .tx-tfm { width: 85%;
  margin: 10px auto;}

  button.nmrl {
    background: transparent;
    border: 0 none;
}

.googlebtn button {background-color: rgb(255, 255, 255);  display: inline-flex; align-items: center; color: rgba(0, 0, 0, 0.54);  box-shadow:  none !important; padding: 0px; border-radius: 2px; border: 1px solid transparent; font-size: 14px;  font-weight: 500; font-family: Roboto, sans-serif;}
.googlebtn button div {display: none;}
.googlebtn button span {padding: 0 !important;}
.twitre button {padding: 0; border: 0 none;  background: transparent;}
.twitre button a { padding: 4px 0 0 0;}

@media only screen and (max-width: 500px) {
  .video-container video {
    position: relative;
    left: -80%;
  }
}
